.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.text {
  display: inline-flex;
  animation: scrollText 20s linear infinite;
}

.information-top-bar .text span {
  margin: 0 4rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: var(--fw-600);
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.header-bar {
  position: sticky;
  background-color: var(--color-white);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  top: -0.1rem;
  z-index: 100;
}

.header-tab {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header-middle {
  max-height: 2rem;
}

.menu-toggle img {
  cursor: pointer;
}

.header-right .dropdown {
  padding-right: 2rem;
}

.header-left>ul>li {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav ul li {
  list-style-type: none;
}

.header-left>ul>li>a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--color-black);
  padding-right: 3rem;
  transition: all 0.6s;
}

nav ul li a:hover {
  color: var(--color-green);
}

.language span::after,
.currency span::after,
.nav-with-dropdown::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.5rem;
  margin-left: 0.8rem;
  vertical-align: middle;
  background-image: url("data/chevron-down-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.5rem;
  margin-left: 0.8rem;
  vertical-align: middle;
  background-image: url("data/chevron-down-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.btn {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
}

.utilities>a>img {
  padding-right: 2rem;
}

.utilities label {
  cursor: pointer;
}

.submenu {
  opacity: 0;
  visibility: hidden;
  top: 120%;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 1rem 1rem;
  transition: all 0.2s ease-in;
}

.dropdown-nav a {
  position: relative;
}

.dropdown-nav a:before {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  top: 3rem;
  left: 0;
  right: 0;
  height: 7.5rem;
}

.submenu-shop,
.submenu-second {
  top: 120%;
}

.header-left>ul>li:hover {
  .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

.nav-bar {
  margin-bottom: 3rem;
}

.nav-bar li {
  width: calc(calc(100% - 30px * 4) / 5);
  padding: 1.5rem;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.nav-bar li a {
  text-decoration: none;
  border-radius: 1rem;
}

.nav-bar li a img {
  width: 100%;
}

.demo-title {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--color-black);
  text-align: center;
}

.demo-wrapper {
  border-radius: 0.5rem;
}

.demo-wrapper img {
  transition: all 0.5s;
}

.demo-wrapper img:hover {
  transform: scale(1.05);
}

.view-more-button {
  padding: 1rem 4.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: var(--fw-500);
  border: none;
  border-radius: 3rem;
  transition: all 0.4s;
}

.submenu-shop {
  max-width: 120rem;
}

.submenu-child-title {
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  margin-bottom: 2rem;
}

.submenu-shop .submenu-child-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.submenu-product .submenu-child-wrapper {
  padding-right: 3rem;
}

.submenu-child-wrapper ul li {
  padding: 0.5rem 0;
}

.submenu-child-wrapper ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  color: var(--color-gray-9);
  transition: all 0.4s;
}

.submenu-child-wrapper ul li a:hover {
  padding-left: 1rem;
}

.submenu-child-wrapper>div {
  border-radius: 1rem;
}

.submenu-child-wrapper img {
  width: 100%;
  transition: all 0.4s;
}

.submenu-child-wrapper img:hover {
  transform: scale(1.1);
}

.submenu-child-collection {
  min-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: var(--fw-600);
  color: var(--color-black);
  background-color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
}

.submenu-second {
  min-width: 20rem;
}

#toggle:checked~.side-panel {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#toggle:checked~#overLay {
  opacity: 1;
  visibility: visible;
}

.side-panel {
  opacity: 0;
  visibility: hidden;
  min-width: 32rem;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  bottom: 0;
  transition: all 0.4s ease-in-out;
  z-index: 12;
}

.side-header {
  background-color: var(--color-sale);
  padding: 2rem 3rem;
}

.side-header-text {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--color-white);
}

.fa-xmark {
  font-size: 1.8rem;
}

.side-body {
  flex: 1;
  background-color: var(--color-white);
  padding: 0 3rem;
}

.side-body-options,
.side-body-link {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--color-black);
  padding: 1.5rem 0;
  transition: all 0.4s;
}

.side-body-link:hover {
  color: var(--color-green);
  cursor: pointer;
}

.side-body li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.side-body-link {
  text-decoration: none;
  color: var(--color-black);
}

.language-option,
.currency-option {
  margin-top: 1rem;

  label {
    cursor: pointer;
    font-weight: var(--fw-400);
    color: var(--color-grey-5);
  }

  input[type="radio"]:checked+label {
    color: var(--color-black);
    text-decoration: underline;
  }
}

.currency-option img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.8rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-grey-9);
}

.currency-option label {
  margin-bottom: 1.5rem;
}

.mini-cart {
  opacity: 0;
  visibility: hidden;
  transform: translateX(150%);
  max-width: 45rem;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  transition: all 0.6s ease-in-out;
  z-index: 20;
}

#miniCart:checked~.mini-cart {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#miniCart:checked~#overLay-cart {
  opacity: 1;
  visibility: visible;
}

.cart-header {
  padding: 1.4rem 3rem;
}

.cart-header-text {
  font-size: 1.8rem;
  font-weight: var(--fw-700);
}

.shipping-trace {
  padding: 3.5rem 3rem 2rem;
  background-color: var(--color-light-grey);
}

.shipping-trace-text {
  font-size: 1.4rem;
  font-weight: var(--fw-500);

  span {
    font-weight: var(--fw-700);
    color: var(--color-green);
  }
}

.cart-item-list {
  height: 100%;
  padding: 3rem;
}

.cart-item a img {
  max-width: 8.7rem;
  height: 100%;
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}

.item-title {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-black);
  text-decoration: none;
  margin-bottom: 0.3rem;
  transition: all 0.4s;
}

.item-title:hover {
  color: var(--color-green);
}

.item-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-grey-5);
  margin-bottom: 0.8rem;
}

.item-price {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-green);
  margin-bottom: 0.8rem;

  span {
    font-size: 1.2rem;
    color: var(--color-grey-5);
  }
}

.cart-addons {
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 1.65rem;
  padding-bottom: 1.65rem;
  border: 1px solid var(--border);
}

.cart-addons button {
  padding: 0 4rem;
}

.subtotal {
  padding: 2rem 3rem 1.5rem;
  background-color: var(--color-light-grey);
}

.subtotal>* {
  font-size: 1.8rem;
  font-weight: var(--fw-700);
}

.minicart-bottom {
  padding: 0 3rem 3rem;
  background-color: var(--color-light-grey);
}

.viewcart,
.checkout {
  padding: 1.5rem 2.5rem;
  flex: 1;
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  border-radius: 0.5rem;
}

.viewcart {
  text-decoration: none;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  margin-bottom: 1rem;
  transition: all 0.4s;
}

.viewcart:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.checkout {
  color: var(--color-white);
  border: none;
  background-color: var(--color-grey-5);
}

@media only screen and (min-width: 992px) {
  .header-tab {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-left {
    width: 44%;
  }

  .header-right {
    width: 43%;
  }

  .header-middle {
    width: 13%;
  }
}

.mini-cart .input-number {
  max-width: 8rem;
  min-height: 3.4rem;
  background-color: var(--color-light-grey);
  border-radius: 0.5rem;
  border: 1px solid var(--border);

  .number-of-product {
    font-size: 1.4rem;
  }
}

.item-edit {
  right: 0;
  top: 0;
}

.icon-edit {
  padding: 0;

  path {
    transition: all 0.6s;
  }
}

.icon-edit:nth-child(1):hover {
  path {
    stroke: var(--color-black);
  }
}

.icon-edit:nth-child(2):hover {
  path {
    fill: var(--color-black);
  }
}

.badge {
  height: 2rem;
  width: 2rem;
  top: 5%;
  left: 95%;
  font-size: 1rem;
  font-weight: var(--fw-500);
  border-radius: 50%;
  background-color: var(--color-green);
}

.search-popup-wrapper {
  padding-right: 2rem;
}

.search-popup {
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-height: calc(100vh - 5.5rem);
  background-color: var(--color-white);
  transition: all 0.6s;
  z-index: 21;
}

.search-popup::-webkit-scrollbar {
  display: none;
}

.search-header-text {
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-weight: var(--fw-700);
  margin-bottom: clamp(1rem, 3vw, 2rem);
}

.search-header label i {
  font-size: 2rem;
  top: 2.5rem;
  right: 2.5rem;
}

.search-input {
  margin-left: auto;
  margin-right: auto;
}

input[type="search"] {
  width: 100%;
  padding: 1rem 5rem 1rem 2rem;
  border: 1px solid var(--border);
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-grey-9);
  border-radius: 0.5rem;
  transition: all 0.4s;
}

input[type="search"]:focus {
  border: 1px solid var(--color-black);
  outline: none;
}

.search-icon {
  padding: 0 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
}

.quick-search {
  margin-top: 1rem;
}

.quick-search>* {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
}

.quick-search-option {
  text-decoration: none;
  color: var(--color-black);
  transition: all 0.4s;
}

.quick-search-option:hover {
  color: var(--color-green);
  text-decoration: underline;
}

.search-suggest {
  margin-top: 2rem;
}

.search-suggest-heading h5 {
  font-size: 2rem;
  font-weight: var(--fw-700);
}

.search-suggest-list {
  margin-top: 2rem;

  .top-trending-product {
    margin-bottom: clamp(3rem, 4.6vw, 4rem);
  }
}

#searchPopup:checked~.search-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#searchPopup:checked~#overLay-search {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 576px) {
  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .search-popup {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .submenu {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .submenu::before {
    width: 6rem;
    top: -3rem;
  }
}