.carousel-slide-show img {
  min-height: 40rem;
  object-fit: cover;
}

.slide-text {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  z-index: 2;
}

.slide-subtitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  margin-bottom: clamp(0rem, 1vw, 1.5rem);
}

.slide-title {
  text-align: center;
  font-size: clamp(3.6rem, 4.7vw, 8rem);
  font-weight: var(--fw-300);
}

.slide-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  text-align: center;
}

.slide-button {
  margin-top: clamp(2.5rem, 4vw, 5rem);
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  line-height: 2;
  color: var(--color-black);
  background-color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: clamp(1rem, 1.2vw, 1.45rem) clamp(4rem, 4.5vw, 6.6rem);
  transition: all 0.5s;
}

.slide-button a {
  color: var(--color-black);
  transition: all 0.5s;
}

.slide-button:hover {
  background-color: var(--color-black);
  a {
  color: var(--color-white);
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100%;
}

.section-gap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-header {
  margin-bottom: 4rem;
}

.section-heading {
  font-size: 4rem;
  font-weight: var(--fw-300);
}

.section-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-grey-5);
}

.section-product-style {
  margin-right: -1.5rem;
}

.card-wrapper {
  padding-right: 1.5rem;
}

.card {
  border: none;
}

.card-body {
  padding: 1.5rem 0 0 0;
}

.product-image {
  border-radius: 1rem;
}

.product-image:hover {
  .action-bar {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

.image-swatch-1 {
  opacity: 1;
  visibility: visible;
}

.size-swatch input[type="radio"]:checked + label {
  cursor: pointer;
  border: 1px solid var(--color-black) !important;
}

.swatch {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

.card-body {
  gap: 0.8rem;
}

.umino {
  color: var(--color-grey-5);
  font-size: 1.2rem;
  font-weight: var(--fw-500);
}

.top-trending-name {
  color: var(--color-black);
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  transition: all 0.4s;
}

.top-trending-name:hover {
  color: var(--color-grey-5);
}

.fa-star {
  font-size: 1rem;
}

.sale-price {
  color: var(--color-green);
  font-size: 1.4rem;
  font-weight: var(--fw-700);
}

.base-price {
  color: var(--color-grey-9);
  font-weight: var(--fw-500);
}

.img-hover,
.image-swatch-2 {
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 5;
  transition: opacity 0.3s ease;
}

.product-image,
.limited-edition-img {
  img {
    transition: all 0.6s;
  }
}

.product-image:hover,
.limited-edition-img:hover {
  img {
    transform: scale(1.1);
  }

  .img-hover {
    opacity: 1;
  }
}

.top-trending-item {
  img {
    transition: all 0.6s;
  }

  .img-hover {
    opacity: 1;
  }
}

.sale-block-item {
  top: 1.5rem;
  left: 1.5rem;
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: var(--fw-500);
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  z-index: 6;
}

.section-product-style::-webkit-scrollbar {
  display: none;
}

.collection-product-wrapper {
  display: inline-block;
  padding-right: 1.5rem;
}

.collection-product {
  border-radius: 1rem;
}

.collection-product a img {
  transition: all 0.4s;
  width: 100%;
}

.collection-product:hover {
  img {
    transform: scale(1.1);
  }
}

.collection-btn {
  width: 65%;
  min-height: 4.5rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.6s;
}

#prevButton {
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
}

#nextButton {
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}

iframe {
  overflow: hidden;
  width: 100%;
  height: 35rem;
}

.video-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
}

.limited-edition .section-content {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.limited-edition-img,
.limited-edition-information {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.limited-edition-img {
  margin-bottom: 2rem;
}

.limited-edition-img div {
  border-radius: 1rem;
}

.limited-edition-img img {
  width: 100%;
  height: 100%;
}

.product-label > div {
  width: fit-content;
  padding: 0.6rem 1.2rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: var(--fw-500);
  color: var(--color-white);
  background-color: var(--color-sale);
  border-radius: 0.2rem;
}

.product-vendor > div {
  font-size: 1.2rem;
  font-weight: var(--fw-500);
  margin-bottom: 0.5rem;
}

.product-title {
  margin-bottom: 1rem;
}

.product-title a {
  font-size: clamp(2.4rem, 3.5vw, 3.6rem);
  font-weight: var(--fw-700);
  color: var(--color-black);
  text-decoration: none;
  transition: all 0.5s;
}

.product-title a:hover {
  cursor: pointer;
  color: var(--color-grey-5);
}

.product-review {
  margin-bottom: 1rem;
}

.review {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  margin-bottom: 0.4rem;
  color: var(--color-grey-5);
}

.product-price {
  font-size: clamp(2.8rem, 4.2vw, 3rem);
  font-weight: var(--fw-700);
  color: var(--color-green);
  margin-bottom: 1.5rem;
}

.product-options {
  margin-bottom: 2rem;
}

.text-swatches {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.product-size {
  margin-bottom: 2.5rem;
}

.product-size > * {
  font-size: 1.4rem;
}

.size-swatches {
  margin-bottom: 0.8rem;
}

.swatch-size {
  padding: 0.3rem 2.2rem;
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-black);
  border-radius: 0.3rem;
  border: 1px solid var(--border);
  transition: all 0.4s;
}

.choose-size-swatches input[type="radio"]:checked + label {
  .swatch-size {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

.product-input-form {
  margin-bottom: 2.5rem;
}

.input-number {
  min-width: 12rem;
  min-height: 5rem;
  background-color: var(--color-light-grey);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.input-number > * {
  width: calc(100% / 3);
  border: none;
  background-color: var(--color-light-grey);
}

.decrease {
  border-radius: 0.5rem 0 0 0.5rem;
}

.increase {
  border-radius: 0 0.5rem 0.5rem 0;
}

.increase,
.decrease {
  height: 100%;
  transition: all 0.4s;
}

.increase:hover,
.decrease:hover {
  filter: brightness(90%);
}

.number-of-product {
  font-size: 1.6rem;
  font-weight: var(--fw-500);
}

.input-to-cart {
  flex: 1 0 auto;
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  border: none;
  border-radius: 0.5rem;
}

.to-wish-list,
.to-compare-list {
  padding: 1.7rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--color-white);
  transition: all 0.5s;
  svg path {
    transition: all 0.5s;
  }
}

.to-wish-list:hover,
.to-compare-list:hover {
  background-color: var(--color-black);
  svg path {
    fill: var(--color-white);
  }
}

.to-compare-list {
  margin-left: 1rem;
}

.custom-checkbox {
  padding-left: 3.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.2rem;
  left: .1rem;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--color-black);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  left: 0.5rem;
  top: 0.1rem;
  width: 0.6rem;
  height: 1rem;
  border: 1px solid var(--color-white);
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.agree-text {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-grey-5);

  a {
    color: var(--color-black);
  }
}

.product-payment-button {
  margin-bottom: 2rem;
}

.purchase-button {
  width: 100%;
  min-height: 5rem;
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  padding: 1.5rem 2rem;
  color: var(--text-payment);
  background-color: var(--button-payment);
  border-radius: 0.5rem;
  border: none;
  transition: all 0.5s;
}

.purchase-button:hover {
  filter: brightness(80%);
}

.more-purchase-options {
  width: 100%;
  min-height: 5rem;
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  padding: 1.5rem 2rem;
  margin-top: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 0.5rem;
  border: none;
}

.more-purchase-options:hover {
  text-decoration: underline;
}

.product-meta {
  list-style-type: none;
}

.product-meta li {
  margin-bottom: 0.5rem;
}

.product-meta li > * {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
}

.key {
  display: inline-block;
  min-width: 8rem;
  color: var(--color-grey-5);
}

.value a {
  color: var(--color-black);
  text-decoration: none;
}

.value a:hover {
  text-decoration: underline;
}

.banner {
  width: 100%;
  height: 60rem;
  background-image: url(data/banner.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40%;
  background-size: cover;
  overflow: hidden;
}

.banner .container-fluid {
  height: 100%;
  padding: 4rem;
}

.banner-content {
  width: 100%;
  padding: 5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  background-color: var(--color-white);
}

.banner-text {
  color: var(--color-black);
}

.banner-subtitle {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  margin-bottom: 1rem;
  color: var(--color-grey-9);
}

.banner-title {
  font-size: clamp(3rem, 3.5vw, 4rem);
  font-weight: var(--fw-300);
  margin-bottom: 2rem;
}

.banner-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  margin-bottom: 5rem;
  color: var(--color-grey-5);
}

.banner-button {
  font-size: 1.2rem;
  font-weight: var(--fw-800);
  min-width: 20rem;
  min-height: 5.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  border-radius: 0.5rem;
  padding: clamp(1rem, 1.2vw, 1.45rem) clamp(4rem, 4.5vw, 6.6rem);
  transition: all 0.5s;
}

.banner-button:hover {
  color: var(--color-black);
  background-color: var(--button-payment);
}

.scrolling-text {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.scrolling-text .text span {
  margin: 0 4rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: var(--fw-600);
}

main .scrolling-text .text span {
  font-weight: var(--fw-700);
}

.blog .card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.blog .card-body {
  border-radius: 0 0 1rem 1rem;
}

.card-product-type {
  font-size: 1.2rem;
  font-weight: var(--fw-700);
  margin-bottom: 0.5rem;
  color: var(--color-black);
}

.card-title {
  font-size: 2.4rem;
  font-weight: var(--fw-500);
  color: var(--color-black);
  margin-bottom: 1.5rem;
}

.card-title:hover {
  color: var(--color-black);
}

.card-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-grey-5);
}

.date-and-author > * {
  font-size: 1.2rem;
  font-weight: var(--fw-700);
  margin-bottom: 1rem;
  color: var(--color-grey-9);
}

.date {
  margin-right: 1.5rem;
}

.author:hover {
  color: var(--color-grey-9);
}

.img-wrapper {
  border-radius: 1rem 1rem 0 0;
}

.blog img {
  transition: all 0.4s;
}

.blog img:hover {
  transform: scale(1.1);
}

.blog .card-body {
  padding: 3rem;
  background-color: var(--color-light-grey);
}

.service {
  background-color: var(--color-light-grey);
}

.service-infor-wrapper:not(:last-child) {
  margin-bottom: 3.5rem;
}

.service-infor {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5rem;
}

.service-infor img {
  width: 3rem;
  height: 3rem;
}

.service-title {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--color-black);
}

.service-description {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--color-grey-5);
}

.action-bar {
  opacity: 0;
  visibility: hidden;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
  z-index: 6;
  transition: all 0.4s ease-in-out;
}

.action-item {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  transition: all 0.5s;
}

.action-item svg path {
  transition: all 0.5s;
}

.action-item:hover {
  background-color: var(--color-black);
  svg path {
    fill: var(--color-white);
  }
}

@media only screen and (min-width: 576px) {
  .collection-btn {
    bottom: 3rem;
  }

  .service-infor-wrapper:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .section-gap {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .slide-text {
    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  iframe {
    height: 70rem;
  }

  .collection-product-wrapper {
    padding-right: 3rem;
  }

  .carousel-slide-show img {
    min-height: 65rem;
  }

  .top-trending .section-product-style,
  .hot-category .section-product-style {
    margin-right: -3rem;
  }

  .hot-category .section-product-style {
    overflow: scroll;
  }

  .top-trending .card-wrapper {
    padding-right: 3rem;
  }

  .banner-content {
    width: 40%;
  }

  .card-wrapper {
    padding-right: 3rem;
  }

  .section-product-style {
    margin-right: -3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel-slide-show img {
    min-height: 85rem;
  }

  .banner {
    height: 70rem;
  }

  .section-gap {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media only screen and (min-width: 1400px) {
.section-product-style-wrapper {
  overflow: visible;
}

  .hot-category .section-product-style {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}
