.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.umino {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

.top-trending-name {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.rating {
  color: gold;
}

.sale-price {
  font-weight: bold;
}

.base-price {
  text-decoration: line-through;
}

.color-swatches {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.swatch {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}

.color-blue {
  background-color: blue;
}

.color-leather {
  background-color: saddlebrown;
}

.product-image {
  position: relative;
  overflow: hidden;
}

.image-swatch-1 {
  display: block;
}

.image-swatch-2 {
  display: none;
}

#trending-1-swatch-1:checked ~ .product-image .image-swatch-1 {
  display: block;
}

#trending-1-swatch-2:checked ~ .product-image .image-swatch-2 {
  display: block;
}
