@media only screen and (min-width:992px) {
    .footer-bottom {
        padding-bottom: 0
    }

    .search-popup {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66%
    }

    .header-left {
        width: 47%
    }

    .header-right {
        width: 46%
    }

    .header-middle {
        width: 7%
    }

    video {
        max-height: 65rem
    }

    .video .section-content {
        padding-bottom: 65rem
    }
}

@media only screen and (max-width:1024px) {
    .header-left>ul {
        display: none !important
    }

    .menu-toggle {
        display: block
    }
}

@media only screen and (min-width:1025px) {
    .header-left>ul {
        display: flex !important
    }

    .menu-toggle {
        display: none
    }

    .header-tab {
        padding-top: 0;
        padding-bottom: 0
    }
}

@media (min-width:992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }
}