@media only screen and (min-width: 768px) {
    .carousel-item {
        height: 65rem;
    }

    .section-gap {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .slide-text {
        width: 50%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .carousel-slide-show img {
        min-height: 65rem;
    }

    .hot-category .section-product-style {
        overflow: scroll;
    }

    .banner-content {
        width: 40%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: calc(33.33% - 2rem);
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: calc(50% - 1.5rem);
    }

    .footer-block {
        margin-bottom: 4rem;
    }

    .footer-menu {
        padding-bottom: 3rem;
    }

    .footer-bottom-wrapper {
        border-top: 1px solid #29374a;
    }

    .accordion .accordion-button {
        pointer-events: none;
    }

    .accordion .accordion-collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        overflow: visible !important;
    }

    .footer-block::after {
        display: none;
    }

    .accordion-button::after {
        display: none;
    }

    .input-form button {
        padding: 1.5rem 4rem;
    }

    .copy-right, .footer-payment {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }


}