@media only screen and (min-width: 1200px) {
    .footer-menu {
        padding-top: 10rem;
    }
}


@media only screen and (min-width: 1200px) {
    .submenu {
        padding-top: 3rem;
    }
}


@media only screen and (min-width: 1200px) {
    .carousel-item {
        height: 85rem;
    }

    .carousel-slide-show img {
        min-height: 85rem;
    }

    .banner {
        height: 70rem;
    }

    .section-gap {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: calc(16.66% + 2rem);
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: calc(25% - 2.25rem);
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: calc(33.33% - 2rem);
    }
}

@media only screen and (min-width: 1200px) {
    .container-fluid {
        --bs-gutter-x: 6rem;
    }
}